.model-wrapper {
    text-align: center;
    margin-top: 65px;
}

.heading {
    font-family: Ubuntu, sans-serif;
}

#paragraph {
    font-family: 'Open Sans', sans-serif;
}

#heading1 {
    font-size: 1.5rem;
}

#heading2 {
    font-size: 3em;
}

.img-wrapper1{
    display: flex;
    justify-content: center;
}

.image1,.image2,.image3,.image4{
    height: 273px;
    width: 235px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.333),rgba(0, 0, 0, 0.503)),url(image-1.jpeg);
    background-repeat: round;
    margin: 55px 10px 0px 0px;
    border-radius: 20px;
    position: relative;
}

.image2{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.333),rgba(0, 0, 0, 0.503)),url(image-2\ \(1\).jpeg);
}

.image3{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.333),rgba(0, 0, 0, 0.503)),url(image-3.jpeg);
}

.image4{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.333),rgba(0, 0, 0, 0.503)),url(image-4.jpeg);
}

.no-1,.no-2,.no-3,.no-4{
    position: absolute;
    bottom: 22px;
    left: 23px;
    font-family: Ubuntu, sans-serif;
    color: white;
    font-size: larger;
}

@media (max-width: 576px) { 
    .img-wrapper1{
        display: block;
    }

    .image1,.image2,.image3,.image4{
        margin: auto;
        margin-bottom: 15px;
        height: 279px;
        width: 298px;
    }

    #heading1 {
        font-size: 1rem;
    }
    
    #heading2 {
        font-size: 1.5em;
    }
 }

@media (min-width: 576px) and (max-width: 768px) { 

    .img-wrapper1{
        display: block;
    }

    .image1,.image2,.image3,.image4{
        margin: auto;
        margin-bottom: 15px;
        height: 282px;
        width: 368px;
    }

    #heading1 {
        font-size: 1.5rem;
    }
    
    #heading2 {
        font-size: 2em;
    }
}