.img-wrapper1 img {
    height: 17rem;
    width: 16rem;
    border-radius: 40px;  
    margin-right: 10px;   
    filter: brightness(85%);
}

.img-wrapper1{
    display: flex;
    margin-top: 3rem;
}

.img-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
    font-family: Ubuntu, sans-serif;
}

.img-wrapper h1{
    color: white;
    font-size: 2rem;
}

.model-wrapper {
    text-align: center;
    margin-top: 65px;
}

.heading{
    font-family: Ubuntu, sans-serif;
}

#paragraph{
    font-family: 'Open Sans',sans-serif;
}

#heading1{
    font-size: 1.5rem;
}

#heading2{
    font-size: 3em;
}

.image1{
    position: relative;
} 

.image1 h1 {
    position: absolute;
    bottom: 25px;
    left: 37px;
}

.image2{
    position: relative;
} 

.image2 h1 {
    position: absolute;
    bottom: 25px;
    left: 37px;
}

.image3{
    position: relative;
} 

.image3 h1 {
    position: absolute;
    bottom: 25px;
    left: 37px;
}

.image4{
    position: relative;
} 

.image4 h1 {
    position: absolute;
    bottom: 25px;
    left: 37px;
} 


/* .number-wrapper{
    display: flex;
    position: absolute;
    bottom: 1rem;  
    right: 186px; 
}
    
.number-wrapper h1{
    width: 270px;
    color: white;
    font-size: 2rem;
}*/